/* navbar elements */
.navbar {
  background-color: #424242;
  box-shadow: 0px 2px 1px #2f2f2f;
}

.navbar-brand {
  color: #dc3545;
}

.navbar-brand:hover {
  color: #dc3545;
}

.nav-link {
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  color: #dc3545;
  background-color: #353535;
  font-family: 'Roboto', sans-serif;
}

.nav-link.active {
  color: #dc3545;
  background-color: #353535;
}

.dropdown-item.active {
  background-color: #dc3545;
  color: white;
}

.fa-bars{
  color: #dc3545;
}



/* body elements */

h3{
  color: #dc3545;
}

h4{
  color: #dc3545;
}

h5{
  color: #dc3545;
}

body {
  background-color: #fafafa;
}



/* cards */
.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  box-shadow: none;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card:hover {
  box-shadow: 4px 4px 2px #2f2f2f;
}

.card {
  box-shadow: 2px 2px 1px #2f2f2f;
}

.card-img {
  width: 3rem;
}


/* modal */
.img-modal {
  width: 100%;
  height: 100%;
}

.modal-header {
  background-color: #424242;
}

.close {
  color: white;
}

.custombtn-red {
  background-color: #dc3545;
  color: white;
}

.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  box-shadow: none;
}

h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card-img {
  width: 3rem;
}

.modal-link:hover {
  text-decoration: none;
}


/* footer elements */


.fa-linkedin{
  color: #0077b5;
}

.fa-github{
  color: #333;
}

hr{
  border-color: #424242;
}