/* navbar elements */
.navbar {
  background-color: #424242;
  box-shadow: 0px 2px 1px #2f2f2f;
}

.navbar-brand {
  color: #dc3545;
}

.navbar-brand:hover {
  color: #dc3545;
}

.nav-link {
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  color: #dc3545;
  background-color: #353535;
  font-family: 'Roboto', sans-serif;
}

.nav-link.active {
  color: #dc3545;
  background-color: #353535;
}

.dropdown-item.active {
  background-color: #dc3545;
  color: white;
}

.fa-bars{
  color: #dc3545;
}



/* body elements */

h3{
  color: #dc3545;
}

h4{
  color: #dc3545;
}

h5{
  color: #dc3545;
}

body {
  background-color: #fafafa;
}
p {
  font-family: 'Roboto', sans-serif;
}


/* cards */
.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  box-shadow: none;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card:hover {
  box-shadow: 4px 4px 2px #2f2f2f;
}

.card {
  box-shadow: 2px 2px 1px #2f2f2f;
}

.card-img {
  width: 3rem;
}


/* modal */
.img-modal {
  width: 100%;
  height: 100%;
}

.modal-header {
  background-color: #424242;
}

.close {
  color: white;
}

.custombtn-red {
  background-color: #dc3545;
  color: white;
}

.card-block {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  box-shadow: none;
}

h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card-img {
  width: 3rem;
}

.modal-link:hover {
  text-decoration: none;
}

.img-modal{
  width: 50%;
}

/* footer elements */


.fa-linkedin{
  color: #0077b5;
}

.fa-github{
  color: #333;
}

hr{
  border-color: #424242;
}


/*education*/
.fa-flask {
  color: #000cfc;
}

.fa-code {
  color: #008F11;
}

.fa-cogs {
  color: #b50000;
}

.fa-comments{
  color: #653434;
}

.ul-educ {
  list-style-type: none;
}




/*spinner*/
.center-spinner {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

.atom-spinner,
.atom-spinner * {
  box-sizing: border-box;
}

.atom-spinner {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.atom-spinner .spinner-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  color: #ff1d5e;
  font-size: calc(60px * 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  border-left-color: #ff1d5e;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}