/* skill bar ? */

.skilltogl{
  text-align: left;
  font-size: 1.0rem;
  font-weight: 600;
}

.skilltext{
  text-shadow: 0px 1px 0.5px #2f2f2f;
  color: white;
  font-weight: 600;
  font-size: 1.0rem;
  /*height: 25px;*/
}


.card{
  background-color: #fafafa;
  /*max-width: 12rem;*/
}